* {
  box-sizing: border-box;
}

body {
  background-color: #34325c;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  max-width: 500px;
  margin: auto auto;
  text-align: center;
}

.container__header {
  width: 100%;
}

.container__header h1 {
  color: #fff;
  font-size: 3.5rem;
}

.task-list {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.3rem;
  align-items: center;
  width: 100%;
}

.task-list h2 {
  margin: 0;
}

.task-list::before {
  content: "";
  display: block;
  height: 1px;
  background-color: currentColor;
}

.task-list::after {
  content: "";
  display: block;
  height: 1px;
  background-color: currentColor;
}

.tasks__body {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tasks__body li {
  display: flex;
  justify-content: space-between;
  background-color: #423e71;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 6px;
  padding: 0.8em 1.5em;
  color: #fff;
  font-size: 1.2rem;
}

form {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  color: #fff;
  background-color: #29284b;
  border: none;
  padding: 0.8em;
  border-radius: 4px;
  font-size: 1.2rem;
}

input[type="text"]:focus {
  outline: none;
  border: 4px solid #244387;
}

.add__task {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  color: #fff;
  font-size: 1.8rem;
}

.trash-icon {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.trash-icon:hover {
  transform: scale(1.3);
}
